<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Django: Template/ふみのて</title>
<link rel="shortcut icon" href="../../assets/icons/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&amp;display=swap&amp;subset=japanese,latin-ext">
<link href="https://fonts.googleapis.com/css2?family=Capriola&amp;family=Mirza&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn:400,700">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="../../assets/css/style.css?20200720">
</head>
<body>
    <div class="container">
      <div class="header"><header class="item item-header"><h1>
    <a href="../../">
      <img class="logo" src="../../assets/images/inuu.png" alt="犬"></a>
  </h1>
  <iframe src="../../tags/" class="tags"></iframe>
</header></div>
      <div class="main">
<div class="article-content">
  <main class="item item-article item-django"><div class="category">
      <a href="../../tags/django/">
          django
      </a>
    </div>
    <div class="title">Django: Template</div>
    <time class="date" datetime="2019-05-06 00:00:00+09:00">
      2019-05-06 Mon
    </time><time class="date" datetime="2019-05-06 00:00:00+09:00">
        updated: 2019-05-06 Mon
        
      </time><div class="text">
      <div>
<details><summary>目次</summary><div class="contents topic" id="contents">
<p class="topic-title first">Contents</p>
<ul class="simple">
<li><p><a class="reference internal" href="#id1" id="id21">リファレンス/書籍</a></p></li>
<li><p><a class="reference internal" href="#id3" id="id22">なるほどめも</a></p></li>
<li><p><a class="reference internal" href="#id4" id="id23">変数表示</a></p></li>
<li>
<p><a class="reference internal" href="#id5" id="id24">フィルタ</a></p>
<ul>
<li><p><a class="reference internal" href="#id6" id="id25">デフォルト表示</a></p></li>
<li><p><a class="reference internal" href="#id7" id="id26">文字列長を表示</a></p></li>
<li><p><a class="reference internal" href="#id8" id="id27">エスケープの無効化</a></p></li>
<li><p><a class="reference internal" href="#id9" id="id28">日時フォーマット</a></p></li>
<li><p><a class="reference internal" href="#id10" id="id29">改行タグの変換</a></p></li>
<li><p><a class="reference internal" href="#id11" id="id30">リンク変換</a></p></li>
<li><p><a class="reference internal" href="#id12" id="id31">文字の切り詰め</a></p></li>
</ul>
</li>
<li>
<p><a class="reference internal" href="#id13" id="id32">テンプレートタグ</a></p>
<ul>
<li><p><a class="reference internal" href="#if" id="id33">if</a></p></li>
<li><p><a class="reference internal" href="#for" id="id34">for</a></p></li>
<li><p><a class="reference internal" href="#id14" id="id35">テンプレートの継承</a></p></li>
<li><p><a class="reference internal" href="#id15" id="id36">外部テンプレートの読み込み</a></p></li>
<li><p><a class="reference internal" href="#url" id="id37">静的ファイルの配信 URL 取得</a></p></li>
<li><p><a class="reference internal" href="#id16" id="id38">url</a></p></li>
<li><p><a class="reference internal" href="#id17" id="id39">自動エスケープ制御</a></p></li>
</ul>
</li>
<li><p><a class="reference internal" href="#id18" id="id40">ベーステンプレートを用意しよう</a></p></li>
<li><p><a class="reference internal" href="#id19" id="id41">独自のテンプレートタグとフィルタ</a></p></li>
</ul>
</div>
</details><div class="section" id="id1">
<h2><a class="toc-backref" href="#id21">リファレンス/書籍</a></h2>
<ul class="simple">
<li><p><a class="reference external" href="https://docs.djangoproject.com/ja/2.2/topics/templates/">Django documentation &gt; テンプレート</a></p></li>
<li><p><a class="reference external" href="https://docs.djangoproject.com/ja/2.2/ref/templates/builtins/">Django documentation &gt; 組み込みタグとフィルタ</a></p></li>
<li><p><a class="reference external" href="https://www.amazon.co.jp/dp/B07GK7BWB7/">現場で使える Django の教科書</a></p></li>
</ul>
</div>
<div class="section" id="id3">
<h2><a class="toc-backref" href="#id22">なるほどめも</a></h2>
<ul class="simple">
<li><p>変数定義できない</p></li>
<li>
<p>Python モジュールを直接 import して使うことはできない</p>
<ul>
<li><p>独自の関数を使うにはテンプレートタグやフィルタを自作する</p></li>
</ul>
</li>
<li><p>フィルター: 変数の内容を表示する際の表示形式を変更する</p></li>
</ul>
</div>
<div class="section" id="id4">
<h2><a class="toc-backref" href="#id23">変数表示</a></h2>
<pre class="code django"><a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-1"></a><span class="c">{# __str__() の結果を表示してくれる #}</span><span class="x"></span>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-2"></a><span class="cp">{{</span> <span class="nv">user</span> <span class="cp">}}</span><span class="x"></span>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-3"></a>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-4"></a><span class="c">{# このように書くと #}</span><span class="x"></span>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-5"></a><span class="cp">{{</span> <span class="nv">user.username</span> <span class="cp">}}</span><span class="x"></span>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-6"></a><span class="cp">{%</span> <span class="k">comment</span> <span class="s2">"以下の順番に値を取得しようとして、一番先に取得できた値を表示してくれる"</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-7"></a><span class="x">  user['username']  # 1. 辞書としての照合</span>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-8"></a><span class="x">  user.username     # 2. 属性値の照合</span>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-9"></a><span class="x">  user.username()   # 3. メソッド呼び出し</span>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-10"></a><span class="x">  user[username]    # 4. リストやタプルの添字指定</span>
<a name="rest_code_f5cf1e1cfef3413baecdc37bd34a8e6f-11"></a><span class="cp">{%</span> <span class="k">endcomment</span> <span class="cp">%}</span><span class="x"></span>
</pre>
<ul class="simple">
<li>
<p>テンプレートには「コンテキスト」と呼ばれる変数と値がマッピングされたオブジェクトが渡される</p>
<ul>
<li>
<p>コンテキストに含まれるもの</p>
<ul>
<li><p>ビューから渡された変数</p></li>
<li>
<p><code class="docutils literal">settings.py</code> の <code class="docutils literal">TEMPLATES.OPTIONS.context_processors</code> に定義された関数でセットされた変数</p>
<ul>
<li><p><code class="docutils literal">request</code>: リクエストオブジェクト</p></li>
<li><p><code class="docutils literal">user</code>: ユーザー</p></li>
<li><p><code class="docutils literal">perms</code>: ユーザーのパーミッション</p></li>
<li><p><code class="docutils literal">messages</code>: フラッシュメッセージ</p></li>
<li><p>e.t.c...</p></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li><p>何もしなくも XSS 対策として <code class="docutils literal">&lt;</code>, <code class="docutils literal">&gt;</code>, <code class="docutils literal">'</code>, <code class="docutils literal">"</code>, <code class="docutils literal">&amp;</code> を自動でエスケープしてくれる</p></li>
</ul>
</div>
<div class="section" id="id5">
<h2><a class="toc-backref" href="#id24">フィルタ</a></h2>
<pre class="code django"><a name="rest_code_d18216c8ea2c4916a5c878dafe3ba53a-1"></a><span class="c">{# 変数名の直後に ``|`` (パイプ) を使って繋げる #}</span><span class="x"></span>
<a name="rest_code_d18216c8ea2c4916a5c878dafe3ba53a-2"></a><span class="cp">{{</span> <span class="o">&lt;</span><span class="err">変数名</span><span class="o">&gt;</span><span class="err">|</span><span class="o">&lt;</span><span class="err">フィルタ名</span><span class="o">&gt;</span> <span class="cp">}}</span><span class="x"></span>
<a name="rest_code_d18216c8ea2c4916a5c878dafe3ba53a-3"></a>
<a name="rest_code_d18216c8ea2c4916a5c878dafe3ba53a-4"></a><span class="c">{# フィルタによっては引数もとれる、 ``:`` で繋げる #}</span><span class="x"></span>
<a name="rest_code_d18216c8ea2c4916a5c878dafe3ba53a-5"></a><span class="cp">{{</span> <span class="o">&lt;</span><span class="err">変数名</span><span class="o">&gt;</span><span class="err">|</span><span class="o">&lt;</span><span class="err">フィルタ名</span><span class="o">&gt;</span><span class="s2">:"&lt;引数&gt;"</span> <span class="cp">}}</span><span class="x"></span>
<a name="rest_code_d18216c8ea2c4916a5c878dafe3ba53a-6"></a>
<a name="rest_code_d18216c8ea2c4916a5c878dafe3ba53a-7"></a><span class="c">{# フィルタは ``|`` で連結できる #}</span><span class="x"></span>
<a name="rest_code_d18216c8ea2c4916a5c878dafe3ba53a-8"></a><span class="cp">{{</span> <span class="o">&lt;</span><span class="err">変数名</span><span class="o">&gt;</span><span class="err">|</span><span class="o">&lt;</span><span class="err">フィルタ名</span><span class="m">1</span><span class="o">&gt;</span><span class="s2">:"&lt;引数&gt;"</span><span class="err">|</span><span class="o">&lt;</span><span class="err">フィルタ名</span><span class="m">2</span><span class="o">&gt;</span><span class="s2">:"&lt;引数&gt;"</span> <span class="cp">}}</span><span class="x"></span>
</pre>
<div class="section" id="id6">
<h3><a class="toc-backref" href="#id25">デフォルト表示</a></h3>
<pre class="code django"><a name="rest_code_441d5d90e68740ff95b0eb502a7d6ae1-1"></a><span class="cp">{{</span> <span class="nv">user.first_name</span><span class="o">|</span><span class="nf">default</span><span class="s2">:""</span> <span class="cp">}}</span><span class="x"> </span><span class="cp">{{</span> <span class="nv">user.first_name</span><span class="o">|</span><span class="nf">default</span><span class="s2">:""</span> <span class="cp">}}</span><span class="x"></span>
</pre>
<ul class="simple">
<li><p>変数が存在しない場合、あるいは変数の値が <code class="docutils literal">None</code>, <code class="docutils literal">''</code>, <code class="docutils literal">0</code>, <code class="docutils literal">False</code>, <code class="docutils literal">[]</code> などの場合に指定した文字列を表示する</p></li>
</ul>
</div>
<div class="section" id="id7">
<h3><a class="toc-backref" href="#id26">文字列長を表示</a></h3>
<pre class="code django"><a name="rest_code_d6e884faae094f1ba91397bfbe316c48-1"></a><span class="cp">{{</span> <span class="nv">user.username</span><span class="o">|</span><span class="nf">length</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>
<div class="section" id="id8">
<h3><a class="toc-backref" href="#id27">エスケープの無効化</a></h3>
<pre class="code django"><a name="rest_code_46bb30fdec3e4ba5a66817857899669d-1"></a><span class="cp">{{</span> <span class="nv">book.description</span><span class="o">|</span><span class="nf">safe</span> <span class="cp">}}</span><span class="x"></span>
</pre>
<ul class="simple">
<li><p>XSS 対策として自動でエスケープしてくれる <code class="docutils literal">&lt;</code>, <code class="docutils literal">&gt;</code>, <code class="docutils literal">'</code>, <code class="docutils literal">"</code>, <code class="docutils literal">&amp;</code> をエスケープしない</p></li>
<li><p>変数の内容が安全だとわかっている場合のみ利用すること</p></li>
</ul>
</div>
<div class="section" id="id9">
<h3><a class="toc-backref" href="#id28">日時フォーマット</a></h3>
<pre class="code django"><a name="rest_code_406a0dadb1d443eb91bbfaa002972606-1"></a><span class="cp">{{</span> <span class="nv">user.last_login</span><span class="o">|</span><span class="nf">date</span><span class="s2">:"Y-m-d H:i:s"</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>
<div class="section" id="id10">
<h3><a class="toc-backref" href="#id29">改行タグの変換</a></h3>
<pre class="code django"><a name="rest_code_8e4d064530fe419aa855eee904c9abbe-1"></a><span class="cp">{{</span> <span class="nv">book.description</span><span class="o">|</span><span class="nf">linebreaksbr</span> <span class="cp">}}</span><span class="x"></span>
</pre>
<ul class="simple">
<li><p><code class="docutils literal">\n</code> を <code class="docutils literal">&lt;br&gt;</code> に変換してくれる</p></li>
<li><p>便利だな...</p></li>
</ul>
</div>
<div class="section" id="id11">
<h3><a class="toc-backref" href="#id30">リンク変換</a></h3>
<pre class="code django"><a name="rest_code_0815cd951f204df18e2726ce61e556a2-1"></a><span class="cp">{{</span> <span class="nv">book.description</span><span class="o">|</span><span class="nf">urlize</span> <span class="cp">}}</span><span class="x"></span>
</pre>
<ul class="simple">
<li><p>URL と メールアドレスの部分だけをアンカータグで囲んでクリック可能なリンクに変換してくれる</p></li>
<li><p>しゅごいな...</p></li>
</ul>
</div>
<div class="section" id="id12">
<h3><a class="toc-backref" href="#id31">文字の切り詰め</a></h3>
<pre class="code django"><a name="rest_code_cc595a2a2e3d470baccd2019d5b17e3a-1"></a><span class="cp">{{</span> <span class="nv">book.description</span><span class="o">|</span><span class="nf">truncatechars_html</span><span class="o">:</span><span class="m">5</span> <span class="cp">}}</span><span class="x"></span>
</pre>
<ul class="simple">
<li><p>指定した文字数まで切り詰めて <code class="docutils literal">...</code> をくっつけてくれる</p></li>
<li><p>HTML タグを考慮して省略後の文字にきちんと閉じタグをつけてくれる</p></li>
<li><p>うええ...</p></li>
</ul>
</div>
</div>
<div class="section" id="id13">
<h2><a class="toc-backref" href="#id32">テンプレートタグ</a></h2>
<div class="section" id="if">
<h3><a class="toc-backref" href="#id33">if</a></h3>
<pre class="code django"><a name="rest_code_1bc6563a0c5b496fb1ee1e8f2d17be6b-1"></a><span class="cp">{%</span> <span class="k">if</span> <span class="nv">user.is_superuser</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_1bc6563a0c5b496fb1ee1e8f2d17be6b-2"></a><span class="x">  システム管理者です。</span>
<a name="rest_code_1bc6563a0c5b496fb1ee1e8f2d17be6b-3"></a><span class="cp">{%</span> <span class="k">elif</span> <span class="nv">user.is_staff</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_1bc6563a0c5b496fb1ee1e8f2d17be6b-4"></a><span class="x">  スタッフです。</span>
<a name="rest_code_1bc6563a0c5b496fb1ee1e8f2d17be6b-5"></a><span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_1bc6563a0c5b496fb1ee1e8f2d17be6b-6"></a><span class="x">  一般ユーザーだよ。</span>
<a name="rest_code_1bc6563a0c5b496fb1ee1e8f2d17be6b-7"></a><span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x"></span>
</pre>
<pre class="code django"><a name="rest_code_bc0e344139004a7685d81da235199533-1"></a><span class="c">{# フィルタと組み合わせることもできる #}</span><span class="x"></span>
<a name="rest_code_bc0e344139004a7685d81da235199533-2"></a><span class="cp">{%</span> <span class="k">if</span> <span class="nv">user.username</span><span class="o">|</span><span class="nf">length</span> <span class="o">&lt;</span> <span class="m">3</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_bc0e344139004a7685d81da235199533-3"></a><span class="x">  ユーザー名が短かすぎます。</span>
<a name="rest_code_bc0e344139004a7685d81da235199533-4"></a><span class="cp">{%</span>  <span class="k">endif</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>
<div class="section" id="for">
<h3><a class="toc-backref" href="#id34">for</a></h3>
<pre class="code django"><a name="rest_code_917506ccf836408380f7ead30ae5a0ed-1"></a><span class="cp">{%</span> <span class="k">for</span> <span class="nv">book</span> <span class="k">in</span> <span class="nv">book_list</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-2"></a><span class="x">  </span><span class="cp">{{</span> <span class="nv">book.title</span> <span class="cp">}}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-3"></a>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-4"></a><span class="x">  </span><span class="c">{# for ループ内で使える変数 #}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-5"></a><span class="x">  </span><span class="cp">{{</span> <span class="nb">forloop</span><span class="nv">.counter</span> <span class="cp">}}</span><span class="x">     </span><span class="c">{# 現在のループカウンタ番号 ( 1 から順にカウント ) #}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-6"></a><span class="x">  </span><span class="cp">{{</span> <span class="nb">forloop</span><span class="nv">.counter0</span> <span class="cp">}}</span><span class="x">    </span><span class="c">{# 現在のループカウンタ番号 ( 0 から順にカウント ) #}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-7"></a><span class="x">  </span><span class="cp">{{</span> <span class="nb">forloop</span><span class="nv">.revcounter</span> <span class="cp">}}</span><span class="x">  </span><span class="c">{# 現在のループカウンタ値 ( 1 から順に、末尾からカウント) #}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-8"></a><span class="x">  </span><span class="cp">{{</span> <span class="nb">forloop</span><span class="nv">.revcounter0</span> <span class="cp">}}</span><span class="x"> </span><span class="c">{# 現在のループカウンタ値 ( 0 から順に、末尾からカウント) #}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-9"></a><span class="x">  </span><span class="cp">{{</span> <span class="nb">forloop</span><span class="nv">.first</span> <span class="cp">}}</span><span class="x">       </span><span class="c">{# 最初のループであれば True #}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-10"></a><span class="x">  </span><span class="cp">{{</span> <span class="nb">forloop</span><span class="nv">.last</span> <span class="cp">}}</span><span class="x">        </span><span class="c">{# 最後のループであれば True #}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-11"></a><span class="x">  </span><span class="cp">{{</span> <span class="nb">forloop</span><span class="nv">.parentloop</span> <span class="cp">}}</span><span class="x">  </span><span class="c">{# 入れ子のループであるとき、現在のループを囲んでいる 1 つ上のループを表します。 #}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-12"></a>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-13"></a><span class="cp">{%</span>  <span class="k">empty</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-14"></a><span class="x">  本ない</span>
<a name="rest_code_917506ccf836408380f7ead30ae5a0ed-15"></a><span class="cp">{%</span>  <span class="k">endfor</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>
<div class="section" id="id14">
<h3><a class="toc-backref" href="#id35">テンプレートの継承</a></h3>
<ul>
<li>
<p>親テンプレート <code class="docutils literal">parent.html</code></p>
<pre class="code django"><a name="rest_code_529392a258cd477f8f886797fa68fc88-1"></a><span class="cp">{%</span> <span class="k">block</span> <span class="nv">sample</span> <span class="cp">%}</span><span class="x">Hello </span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</li>
<li>
<p>子テンプレート <code class="docutils literal">child.html</code></p>
<pre class="code django"><a name="rest_code_9c156b67bb14432e8f4aa263e00d8caa-1"></a><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">"parent.html"</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_9c156b67bb14432e8f4aa263e00d8caa-2"></a><span class="cp">{%</span> <span class="k">block</span> <span class="nv">sample</span> <span class="cp">%}{{</span> <span class="nb">block</span><span class="nv">.super</span> <span class="o">}</span><span class="nv">World</span><span class="err">!</span> <span class="o">{%</span> <span class="nv">endblock</span> <span class="o">%}</span>
<a name="rest_code_9c156b67bb14432e8f4aa263e00d8caa-3"></a><span class="o">{</span><span class="err">#</span> <span class="nb">block</span><span class="nv">.super</span><span class="o">:</span> <span class="err">親テンプレートのブロック内部の値をそのまま保持した変数</span> <span class="err">#</span><span class="o">}</span>
</pre>
</li>
</ul>
</div>
<div class="section" id="id15">
<h3><a class="toc-backref" href="#id36">外部テンプレートの読み込み</a></h3>
<pre class="code django"><a name="rest_code_d7306da4a12743eead281bf613272fd7-1"></a><span class="cp">{%</span> <span class="k">include</span> <span class="s2">"_message.html"</span> <span class="cp">%}</span><span class="x"></span>
</pre>
<ul class="simple">
<li><p>ヘッダーフッターなど部品化したテンプレートを別のテンプレートから読み込む場合など</p></li>
</ul>
</div>
<div class="section" id="url">
<h3><a class="toc-backref" href="#id37">静的ファイルの配信 URL 取得</a></h3>
<pre class="code django"><a name="rest_code_6349660f0a244d5ea30e28b83ccef26d-1"></a><span class="c">{# 利用する前に機能をロードしておく #}</span><span class="x"></span>
<a name="rest_code_6349660f0a244d5ea30e28b83ccef26d-2"></a><span class="cp">{%</span> <span class="k">load</span> <span class="nv">static</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_6349660f0a244d5ea30e28b83ccef26d-3"></a><span class="cp">{%</span> <span class="k">static</span> <span class="s2">"images/logo.png"</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_6349660f0a244d5ea30e28b83ccef26d-4"></a><span class="cp">{%</span> <span class="k">static</span> <span class="s2">"shop/images/no-image.png"</span> <span class="cp">%}</span><span class="x"></span>
</pre>
<ul class="simple">
<li><p>静的ファイルの配信 URL を取得するためのタグ</p></li>
<li><p>Django デフォルトで使える組み込みタグではないのでロードが必要</p></li>
<li><p><code class="docutils literal">extends</code> している場合、継承元で <code class="docutils literal">load</code> していても自身のテンプレートでは有効にならないので、
つど <code class="docutils literal">load</code> する必要がある</p></li>
</ul>
</div>
<div class="section" id="id16">
<h3><a class="toc-backref" href="#id38">url</a></h3>
<pre class="code django"><a name="rest_code_336b6032ca3347f9bba3c2fc7e04f4db-1"></a><span class="c">{# URL 逆引き #}</span><span class="x"></span>
<a name="rest_code_336b6032ca3347f9bba3c2fc7e04f4db-2"></a><span class="cp">{%</span> <span class="k">url</span> <span class="s2">"index"</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_336b6032ca3347f9bba3c2fc7e04f4db-3"></a><span class="cp">{%</span> <span class="k">url</span> <span class="s2">"accounts:login"</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_336b6032ca3347f9bba3c2fc7e04f4db-4"></a><span class="cp">{%</span> <span class="k">url</span> <span class="s2">"shop:detail"</span> <span class="nv">book.id</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_336b6032ca3347f9bba3c2fc7e04f4db-5"></a><span class="cp">{%</span> <span class="k">url</span> <span class="s2">"shop:detail"</span> <span class="nv">book_id</span><span class="o">=</span><span class="nv">book.id</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>
<div class="section" id="id17">
<h3><a class="toc-backref" href="#id39">自動エスケープ制御</a></h3>
<pre class="code django"><a name="rest_code_3459600e427b4c5ba29a1645fde908d6-1"></a><span class="cp">{%</span> <span class="k">autoescape</span> <span class="nv">off</span> <span class="cp">%}</span><span class="x"></span>
<a name="rest_code_3459600e427b4c5ba29a1645fde908d6-2"></a><span class="x">  自動エスケープがオフになる範囲</span>
<a name="rest_code_3459600e427b4c5ba29a1645fde908d6-3"></a><span class="cp">{%</span> <span class="k">endautoescape</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>
</div>
<div class="section" id="id18">
<h2><a class="toc-backref" href="#id40">ベーステンプレートを用意しよう</a></h2>
<ul class="simple">
<li>
<p>現場で使える Django の教科書《基礎編》 P.79 参照のこと</p>
<ul>
<li><p>どのテンプレートにも書くような共通の内容は base.html テンプレートする</p></li>
</ul>
</li>
</ul>
</div>
<div class="section" id="id19">
<h2><a class="toc-backref" href="#id41">独自のテンプレートタグとフィルタ</a></h2>
<p>カスタムタグやカスタムフィルタをつくることができる。</p>
<ul class="simple">
<li><p><a class="reference external" href="https://docs.djangoproject.com/ja/2.2/howto/custom-template-tags/">Django documentation &gt; 独自のテンプレートタグとフィルタ</a></p></li>
</ul>
</div>
</div>
    </div>
  </main>
</div>
</div>
    </div>
  </body>
</html>
