<!DOCTYPE html>
<html lang="{{ lang }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{ title }}/{{ blog_title }}</title>
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Griffy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap&subset=japanese,latin-ext">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css?20200126">
  </head>

  <body>
    <div class="container">
      <div class="header">{% include "/header.tmpl" %}</div>
      <div class="main">{% block main %}{% endblock main %}</div>
    </div>
  </body>

</html>
