/* --------------------------------
 * category colors
 * -------------------------------- */
.item-sample,
.item-sample .title::before {
  border-color: #e2b2c0;
}
.item-aws,
.item-aws .title::before {
    border-color: #fff353;
}
.item-django,
.item-django .title::before {
  border-color: #a5d1f4;
}
.item-git,
.item-git .title::before {
  border-color: #e4ad6d;
}
.item-github,
.item-github .title::before {
  border-color: #d685b0;
}
.item-css,
.item-css .title::before {
  border-color: #dbe159;
}
.item-html,
.item-html .title::before {
  border-color: #7fc2ef;
}
.item-mac,
.item-mac .title::before {
  border-color: #c4a6ca;
}
.item-miyadaiku,
.item-miyadaiku .title::before {
    border-color: #eabf4c;
}
.item-book,
.item-book .title::before {
  border-color: #f9e697;
}
.item-redshift,
.item-redshift .title::before {
  border-color: #b3d3ac;
}
.item-ssh,
.item-ssh .title::before {
  border-color: #eac7cd;
}
.item-vagrant,
.item-vagrant .title::before {
  border-color: #f8e469;
}
.item-vim,
.item-vim .title::before {
  border-color: #e7e0aa;
}
.item-pycharm,
.item-pycharm .title::before {
  border-color: #d9de84;
}
.item-sql,
.item-sql .title::before {
  border-color: #e4bd60;
}
.item-python,
.item-python .title::before {
  border-color: #9ac29f;
}
.item-blog,
.item-blog .title::before {
  border-color: #e3be87;
}
.item-docker,
.item-docker .title::before {
  border-color: #edef9c;
}
.item-python-test,
.item-python-test .title::before {
  border-color: #dd9b9d;
}
.item-sqlalchemy,
.item-sqlalchemy .title::before {
  border-color: #f5dfa6;
}
.item-mysql,
.item-mysql .title::before {
  border-color: #ebeddf;
}
.item-nikola,
.item-nikola .title::before {
  border-color: #e1d4e6;
}
.item-linux,
.item-linux .title::before {
  border-color: #70b062;
}
.item-django-rest-framework,
.item-django-rest-framework .title::before {
  border-color: #c8d85b;
}
.item-frontend,
.item-frontend .title::before {
  border-color: #f8e133;
}
.item-frontend-test,
.item-frontend-test .title::before {
  border-color: #e2b2c0;
}
.item-graphql,
.item-graphql .title::before {
  border-color: #fff353;
}

/* 色は、14.フレッシュでジューシーなイメージから選び中... おいしそう...=> なくなってた...かなしい
http://www.hp-stylelink.com/news/2013/07/20130708.php
*/
