@charset "UTF-8"
@import "./reset.css"

/* --------------------------------
 * base
 * https://caniuse.com/
 * -------------------------------- */
sp-width = 768px

html
  font-size: 62.5%

body
  padding 30px
  background-color: #fcfcfc;
  background-image: radial-gradient(#c2e9f8 10%, transparent 20%), radial-gradient(#c2e9f8 10%, transparent 20%);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  color #333333
  font-size 1.2rem
  font-family Griffy, "Sawarabi Mincho", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif

  @media (max-width: sp-width)
    padding 15px

/*f0f8ff eaf4fc
  - 擬似要素を存在させるには、 CSS で擬似要素の中身を指定する content プロパティの指定。P.103を見よ。
  - ::before, ::after 擬似要素の display プロパティの初期値は inline なので、デフォルトではインラインレベルの要素として表示される。
  - 高さや幅を指定したい場合には、 display プロパティに block や inline-block の指定が必要。
 */
*, *::before, *::after  /* `*`: 全称セレクタといい、すべての要素を表す。 */
  box-sizing: border-box  /* padding と border を含めた要素全体のサイズを width と height で指定できるようになる。 */

a:link, a:visited, a:hover, a:active
  color: #777777
  text-decoration: none

/* --------------------------------
 * flexbox
 * -------------------------------- */
.container
  display flex
  flex-flow row nowrap

  @media (max-width: sp-width)
    flex-direction column

.header
  flex-grow 0

  @media (max-width: sp-width)
    order 1

.main
  flex-grow 1
  min-width 0

/* --------------------------------
 * item base
 * -------------------------------- */
.item
  width 180px
  margin-bottom 4px  /* ボックス間の隙間 */
  padding 8px        /* ボックス内の余白 */
  border-bottom 3px solid
  border-radius 5px
  background-color #FFFFFF

  @media (max-width: sp-width)
    width 100%
    position: static !important;

/* --------------------------------
 * header
 * -------------------------------- */
@import "./header.styl"

/* --------------------------------
 * category colors
 * -------------------------------- */
@import "./category-colors.styl"

/* --------------------------------
 * index page only
 * -------------------------------- */
.index-content
  @import "./index.styl"

/* --------------------------------
 * post page only
 * -------------------------------- */
.article-content
  @import "./post.styl"
  @import "./monokai.styl"
